*{
	margin: 0;
	padding: 0;
	
}
.navbar{

border: none;
background-color: rgb(7, 25, 82);
color: #ffffff;
}
body{
	background-color: rgb(11, 102, 106);
	color: white;
}
.glyphicon{
	font-size: 30px;
	color:rgb(151, 254, 237); 
}

.center{
	width: 90%;
	background-color: grey;

}
.container
{
	background-color: grey;
}
.text-center{
	font-size: 30px;
}

h2{
	text-align: center;
}
#myNavbar ul li a {
	color: #61122F;
}
.navbar-brand{
font-size: 30px;	
}